# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
/static/
media/
.env

# Virtual environment
venv/
env/
Lib/
Scripts/
Include/
*.log

# VSCode settings
.vscode/

# SQLite database
db.sqlite3
__pycache__/
*.py[cod]
*.sqlite3
venv/
.env
.idea/
.vscode/
*.log