{% extends "base.html" %}

{% block title %}Edit Income{% endblock %}

{% block content %}

<div class="row justify-content-center">

<div class="col-lg-6">

<div class="card shadow">

<div class="card-header bg-warning">

<h3>Edit Income</h3>

</div>

<div class="card-body">

<form method="POST">

{% csrf_token %}

{{ form.as_p }}

<button
class="btn btn-warning">

Update

</button>

<a
href="{% url 'income' %}"
class="btn btn-secondary">

Cancel

</a>

</form>

</div>

</div>

</div>

</div>

{% endblock %}